@page
@model ErrorModel
@{ ViewData["Title"] = "Erro"; }
<h1 class="text-danger">Ahhh não!!!</h1>
<h2 class="text-danger">Um erro ocorreu durante o processamento do seu pedido.</h2>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Requisição ID:</strong> <code>@Model.RequestId</code>
    </p>
}