@page
@model House2Invest.Pages.ConfigApp.CreateModel
@{
    ViewData["Title"] = "Criar";
    Layout = "~/Pages/Shared/_LayoutCMS.cshtml";
}
<div class="container-fluid px-xl-5">
    <section class="py-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-uppercase mb-0"><i class="o-clock-1 mr-3 text-gray"></i> Criando um registro</h6>
                    </div>
                    <div class="card-body">
                        <div class="pb-5">
                            <form id="formPrincipal" name="formPrincipal" method="post" enctype="multipart/form-data">
                                <div class="form-group row mb-4">
                                    <div class="col-md-12 ml-auto pull-right">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs" id="myTab" name="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-archive"></i> Principal</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="config-email-tab" data-toggle="tab" href="#config-email" role="tab" aria-controls="config-email"><i class="fa fa-mail-bulk"></i> CONFIG EMAIL</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="config-dumpsql-tab" data-toggle="tab" href="#config-dumpsql" role="tab" aria-controls="config-dumpsql"><i class="fa fa-database"></i> CONFIG DUMP</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="config-temporizadores-tab" data-toggle="tab" href="#config-temporizadores" role="tab" aria-controls="config-temporizadores"><i class="fa fa-clock"></i> TEMPORIZADORES</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row py-3">
                                            <div class="col-lg-3 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <img id="imgprevia_logotipo" src="@Html.Raw(Model.AppConfiguracoes_Aplicativo.LogotipoEmpresa)" class="img-fluid mx-auto imgprevia" />
                                                </div>
                                                <div class="form-group js">
                                                    <input asp-for="AppConfiguracoes_Aplicativo.App_ImagemLogo" type="file" class="inputfile inputfile-3" data-multiple-caption="{count} selecionado" onchange="carregaPrevia(event, 'imgprevia_logotipo')" />
                                                    <label asp-for="AppConfiguracoes_Aplicativo.App_ImagemLogo" class="mx-auto" title="Alterar o logotipo do Evento"><div class="icon icon-lg shadow mr-3 mx-auto"><i class="fa fa-upload"></i></div></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-9 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.Empresa" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.Empresa" class="form-control" autofocus />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.Empresa" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.CPFCNPJ" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.CPFCNPJ" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.CPFCNPJ" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-8 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.Logradouro" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.Logradouro" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.Logradouro" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.Complemento" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.Complemento" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.Complemento" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.Bairro" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.Bairro" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.Bairro" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.Cidade" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.Cidade" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.Cidade" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.Estado" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.Estado" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.Estado" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.CEP" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.CEP" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.CEP" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.Fone" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.Fone" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.Fone" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.FoneRecados" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.FoneRecados" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.FoneRecados" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.Celular" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.Celular" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.Celular" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.EmailContato" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.EmailContato" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.EmailContato" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.EmailSuporte" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.EmailSuporte" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.EmailSuporte" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.EmailVendas" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.EmailVendas" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.EmailVendas" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="config-email" role="tabpanel" aria-labelledby="config-email-tab">
                                        <div class="row py-3">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.mailFrom" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.mailFrom" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.mailFrom" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.mailToAdd" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.mailToAdd" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.mailToAdd" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.smtpCredentialsEmail" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.smtpCredentialsEmail" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.smtpCredentialsEmail" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.smtpCredentialsSenha" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.smtpCredentialsSenha" class="form-control pw" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.smtpCredentialsSenha" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <hr />
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input asp-for="AppConfiguracoes_Aplicativo.smtpEnableSsl" class="tgl tgl-ios" type="checkbox">
                                                    <label for="AppConfiguracoes_Aplicativo_smtpEnableSsl" class="tgl-btn"></label>
                                                    <label asp-for="AppConfiguracoes_Aplicativo.smtpEnableSsl" class="control-label"></label>
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.smtpEnableSsl" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <input asp-for="AppConfiguracoes_Aplicativo.smtpUseDefaultCredentials" class="tgl tgl-ios" type="checkbox">
                                                    <label for="AppConfiguracoes_Aplicativo_smtpUseDefaultCredentials" class="tgl-btn"></label>
                                                    <label asp-for="AppConfiguracoes_Aplicativo.smtpUseDefaultCredentials" class="control-label"></label>
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.smtpUseDefaultCredentials" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <hr />
                                            </div>


                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.smtpHost" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.smtpHost" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.smtpHost" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.smtpPort" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.smtpPort" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.smtpPort" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="config-dumpsql" role="tabpanel" aria-labelledby="config-dumpsql-tab">
                                        <div class="row py-3">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.dumpSQLHost" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.dumpSQLHost" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.dumpSQLHost" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.dumpSQLUser" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.dumpSQLUser" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.dumpSQLUser" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.dumpSQLPass" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.dumpSQLPass" class="form-control pw" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.dumpSQLPass" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="config-temporizadores" role="tabpanel" aria-labelledby="config-temporizadores-tab">
                                        <div class="row py-3">
                                            <div class="col-12 mb-3">
                                                <code>
                                                    Variáveis aceitas: MIN, HOR, DIA, SEM, MES, ANO
                                                    Exemplo de uso: 5 MIN (5 minutos após a ação), 3 SEM (3 semanas após a ação)...
                                                </code>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.temporizaLmiteMaximoOfertaSuspensa" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.temporizaLmiteMaximoOfertaSuspensa" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.temporizaLmiteMaximoOfertaSuspensa" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.temporizaLmiteMaximoRevogaInvestimento" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.temporizaLmiteMaximoRevogaInvestimento" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.temporizaLmiteMaximoRevogaInvestimento" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="AppConfiguracoes_Aplicativo.temporizaLmiteMaximoRevogaInvestimento" class="control-label"></label>
                                                    <input asp-for="AppConfiguracoes_Aplicativo.temporizaLmiteMaximoRevogaInvestimento" class="form-control" />
                                                    <span asp-validation-for="AppConfiguracoes_Aplicativo.temporizaLmiteMaximoRevogaInvestimento" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 line"></div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group row">
                                    <div class="col-md-12 ml-auto text-center">
                                        <button id="btnsubmitformprincipal" name="btnsubmitformprincipal" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        var carregaPrevia = function (evento, elemento) {
            var saida = document.getElementById(elemento);
            saida.src = URL.createObjectURL(evento.target.files[0]);
        };
    </script>
    <script>
        $("#mnusidebar_cms_controles").removeClass("collapsed");
        $("#mnusidebar_cms_controles").attr("aria-expanded", "true");
        $("#target_mnuconfig").addClass("show");
        $("#mnusidebar_cms_controlesapp").addClass("active");
    </script>
}