@page
@model House2Invest.Pages.CMSUsuarios.EditModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Pages/Shared/_LayoutCMS.cshtml";
}
<div class="container-fluid px-xl-5">
    <section class="py-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-uppercase mb-0"><i class="o-clock-1 mr-3 text-gray"></i> Editando uma conta de usuário</h6>
                    </div>
                    <div class="card-body">
                        <div class="pb-5">
                            <form id="formPrincipal" name="formPrincipal" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="modelo.Id" />
                                <div class="form-group row mb-4">
                                    <div class="col-md-12 ml-auto pull-right">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs" id="myTab" name="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-archive"></i> Principal</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row py-3">
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group">
                                                    <img id="imgprevia_logotipo" src="@Html.Raw(Model.modelo.Sistema_URLSelfieDocFRENTE)" class="img-fluid mx-auto imgprevia" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12">
                                                <div class="form-group">
                                                    <img id="imgprevia_logotipo001" src="@Html.Raw(Model.modelo.Sistema_URLSelfieDocVERSO)" class="img-fluid mx-auto imgprevia" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label asp-for="modelo.Criado" class="control-label"></label>
                                                    <input asp-for="modelo.Criado" class="form-control" readonly />
                                                    <span asp-validation-for="modelo.Criado" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="modelo.Nome" class="control-label"></label>
                                                    <input asp-for="modelo.Nome" class="form-control" readonly />
                                                    <span asp-validation-for="modelo.Nome" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="modelo.Email" class="control-label"></label>
                                                    <input asp-for="modelo.Email" class="form-control" readonly />
                                                    <span asp-validation-for="modelo.Email" class="text-danger"></span>
                                                </div>

                                                <div hidden style="display:none !important;">
                                                    <select asp-for="modelo.EmailConfirmado" class="col-md-12 col-lg-6 form-control">
                                                        <option value="True">SIM</option>
                                                        <option value="False">NÃO</option>
                                                    </select>
                                                </div>

                                                <div hidden style="display:none !important;">
                                                    <select asp-for="modelo.AcessoBloqueado" class="col-md-12 col-lg-6 form-control">
                                                        <option value="True">SIM</option>
                                                        <option value="False">NÃO</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label asp-for="modelo.Financeiro_Investidor_Perfil" class="control-label"></label>
                                                    <select asp-for="modelo.Financeiro_Investidor_Perfil" class="col-md-12 col-lg-6 form-control">
                                                        @*<option value="A">4A - acima de R$ UM MILHÃO DE REAIS</option>
                                                            <option value="B">4B - até R$ CEM MIL REAIS</option>
                                                            <option value="C">4C - até R$ DEZ MIL REAIS</option>*@
                                                        <option value="X">Investidor Líder - Art:35 §2º</option>
                                                        <option value="A">investimento acima de R$ 1.000.000,00 no ano calendário</option>
                                                        <option value="B">investimento acima de R$ 100.000,00 no ano calendário</option>
                                                        <option value="C">investimento até R$ 10.000,00 no ano calendário</option>
                                                    </select>
                                                    <span asp-validation-for="modelo.Financeiro_Investidor_Perfil" class="text-danger"></span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 line"></div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group row">
                                    <div class="col-md-12 ml-auto text-center">
                                        <button id="btnsubmitformprincipal" name="btnsubmitformprincipal" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        var carregaPrevia = function (evento, elemento) {
            var saida = document.getElementById(elemento);
            saida.src = URL.createObjectURL(evento.target.files[0]);
        };
    </script>
    <script>
        $("#mnusidebar_cms_controles").removeClass("collapsed");
        $("#mnusidebar_cms_controles").attr("aria-expanded", "true");
        $("#target_mnuconfig").addClass("show");
        $("#mnusidebar_cms_usuarios").addClass("active");
    </script>
}