@page
@model House2Invest.Pages.Configuracoes.EditModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Pages/Shared/_LayoutCMS.cshtml";
}
<div class="container-fluid px-xl-5">
    <section class="py-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-uppercase mb-0"><i class="o-clock-1 mr-3 text-gray"></i> Editando um registro</h6>
                    </div>
                    <div class="card-body">
                        <div class="pb-5">
                            <form id="formPrincipal" name="formPrincipal" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="AppConfiguracoes.Id" />
                                <div class="form-group row mb-4">
                                    <div class="col-md-12 ml-auto pull-right">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs" id="myTab" name="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-archive"></i> Principal</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row py-3">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label asp-for="AppConfiguracoes.Descricao" class="control-label"></label>
                                                            <input asp-for="AppConfiguracoes.Descricao" class="form-control" autofocus />
                                                            <span asp-validation-for="AppConfiguracoes.Descricao" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label asp-for="AppConfiguracoes.URLExibicao" class="control-label"></label>
                                                            <input asp-for="AppConfiguracoes.URLExibicao" class="form-control" />
                                                            <span asp-validation-for="AppConfiguracoes.URLExibicao" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label asp-for="AppConfiguracoes.Tema" class="control-label"></label>
                                                            <select asp-for="AppConfiguracoes.Tema" class="form-control" asp-items="ViewBag.AppConfiguracoes_Tema"></select>
                                                            <span asp-validation-for="AppConfiguracoes.Tema" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label asp-for="AppConfiguracoes.CaminhoAbsolutoTema" class="control-label"></label>
                                                            <input asp-for="AppConfiguracoes.CaminhoAbsolutoTema" class="form-control" />
                                                            <span asp-validation-for="AppConfiguracoes.CaminhoAbsolutoTema" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label asp-for="AppConfiguracoes.AppConfiguracoes_AplicativoId" class="control-label"></label>
                                                            <select asp-for="AppConfiguracoes.AppConfiguracoes_AplicativoId" class="form-control" asp-items="ViewBag.AppConfiguracoes_AplicativoId"></select>
                                                            <span asp-validation-for="AppConfiguracoes.AppConfiguracoes_AplicativoId" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label asp-for="AppConfiguracoes.AppConfiguracoes_AzureId" class="control-label"></label>
                                                            <select asp-for="AppConfiguracoes.AppConfiguracoes_AzureId" class="form-control" asp-items="ViewBag.AppConfiguracoes_AzureId"></select>
                                                            <span asp-validation-for="AppConfiguracoes.AppConfiguracoes_AzureId" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                @*
                                                <div class="custom-control custom-checkbox">
                                                    <input asp-for="AppConfiguracoes.Padrao" type="checkbox" class="custom-control-input">
                                                    <label asp-for="AppConfiguracoes.Padrao" class="custom-control-label" for="AppConfiguracoes_Padrao"></label>
                                                </div>
                                                *@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 line"></div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group row">
                                    <div class="col-md-12 ml-auto text-center">
                                        <button id="btnsubmitformprincipal" name="btnsubmitformprincipal" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @{
        /**/
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $("#AppConfiguracoes_AppConfiguracoes_AplicativoId, #AppConfiguracoes_AppConfiguracoes_AzureId, #AppConfiguracoes_Tema").select2({
                //placeholder: "Buscar por: Nome completo, CPF ou Email",
                allowClear: !0,
                language: 'pt-BR',
                //ajax: {
                //    url: "/Home/BuscarPessoas",
                //    dataType: "json",
                //    delay: 250,
                //    data: function (e) {
                //        return {
                //            chavebusca: e.term,
                //            //tipo: e.tipo,
                //            eventoid: $("#eventoid").val(),
                //            page: e.page
                //        };
                //    },
                //    processResults: function (e, t) {
                //        return t.page = t.page || 1, {
                //            results: e.items,
                //            pagination: {
                //                more: 30 * t.page < e.total_count
                //            }
                //        };
                //    },
                //    cache: !0
                //},
                escapeMarkup: function (e) {
                    return e;
                },
                //minimumInputLength: 1,
                //templateResult: function (e) {
                //    if (e.loading) return e.nome;
                //    //var t = "<div class='select2-result-repository clearfix'><div class='select2-result-repository__meta'><div class='select2-result-repository__title'>" + e.full_name + "</div>";
                //    //return e.description && (t += "<div class='select2-result-repository__description'>" + e.description + "</div>"), t += "<div class='select2-result-repository__statistics'><div class='select2-result-repository__forks'><i class='fa fa-flash'></i> " + e.forks_count + " Forks</div><div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + e.stargazers_count + " Stars</div><div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + e.watchers_count + " Watchers</div></div></div></div>";
                //    var t = "<div class='select2-result-repository clearfix'><div class='select2-result-repository__meta'><div class='select2-result-repository__title'>" + e.nome + "</div>";
                //    return t;
                //    //e.email && (t += "<div class='select2-result-repository__description'>" + e.email + "</div>"), t += "<div class='select2-result-repository__statistics'><div class='select2-result-repository__forks'><i class='fa fa-flash'></i> " + e.evento.descricao + " </div><div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + e.evento.titulo + " </div><div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + e.evento.local + " </div></div></div></div>";
                //},
                //templateSelection: function (e) {
                //    //return e.full_name || e.text;
                //    //return e.nome + " - " + e.tipo;
                //    return e.nome;
                //},
                //resolve o problema do input desabilitado qdo usado o select2 com modal
                //dropdownParent: $("#ModalEmissaoCertif")
            })
        </script>
        <script>
            $("#mnusidebar_cms_controles").removeClass("collapsed");
            $("#mnusidebar_cms_controles").attr("aria-expanded", "true");
            $("#target_mnuconfig").addClass("show");
            $("#mnusidebar_cms_controlestema").addClass("active");
        </script>
    }
}