@page
@model House2Invest.Pages.AppPerfil.EditModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Pages/Shared/_LayoutCMS.cshtml";
}
<div class="container-fluid px-xl-5">
    <section class="py-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-uppercase mb-0"><i class="o-clock-1 mr-3 text-gray"></i> Editando um registro</h6>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" name="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-archive"></i> Principal</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row py-3">
                                    <div class="col-12">
                                        <form id="formPrincipal" name="formPrincipal" method="post" enctype="multipart/form-data">
                                            <input type="hidden" asp-for="AppPerfil.Id" />
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group row mb-4">
                                                <div class="col-md-12 ml-auto pull-right">
                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                                    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label asp-for="AppPerfil.AppConfiguracoesId" class="control-label"></label>
                                                        <select asp-for="AppPerfil.AppConfiguracoesId" class="form-control" asp-items="ViewBag.AppConfiguracoesId"></select>
                                                        <span asp-validation-for="AppPerfil.AppConfiguracoesId" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12 ml-auto text-center">
                                                    <button id="btnsubmitformprincipal" name="btnsubmitformprincipal" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                                    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            @*
                            <div class="tab-pane fade show" id="galeria" role="tabpanel" aria-labelledby="galeria-tab">
                                <div class="row py-3">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <button id="inputMask" class="btn btn-success">Selecionar imagens</button>
                                                </div>
                                                <div class="form-group">
                                                    <form id="holder" method="post" enctype="multipart/form-data" asp-page-handler="enviarimagens">
                                                        <input type="hidden" asp-for="AppPerfil.Id" />
                                                        <div class="col-12 line"></div>
                                                        <div id="ImageHolder" class="row"></div>
                                                        <div class="col-12 line"></div>
                                                        <input type="button" id="botaoenviar" value="Enviar imagens" class="btn btn-danger" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $("#AppPerfil_AppConfiguracoesId").select2({
                //placeholder: "Buscar por: Nome completo, CPF ou Email",
                allowClear: !0,
                language: 'pt-BR',
                //ajax: {
                //    url: "/Home/BuscarPessoas",
                //    dataType: "json",
                //    delay: 250,
                //    data: function (e) {
                //        return {
                //            chavebusca: e.term,
                //            //tipo: e.tipo,
                //            eventoid: $("#eventoid").val(),
                //            page: e.page
                //        };
                //    },
                //    processResults: function (e, t) {
                //        return t.page = t.page || 1, {
                //            results: e.items,
                //            pagination: {
                //                more: 30 * t.page < e.total_count
                //            }
                //        };
                //    },
                //    cache: !0
                //},
                escapeMarkup: function (e) {
                    return e;
                },
                //minimumInputLength: 1,
                //templateResult: function (e) {
                //    if (e.loading) return e.nome;
                //    //var t = "<div class='select2-result-repository clearfix'><div class='select2-result-repository__meta'><div class='select2-result-repository__title'>" + e.full_name + "</div>";
                //    //return e.description && (t += "<div class='select2-result-repository__description'>" + e.description + "</div>"), t += "<div class='select2-result-repository__statistics'><div class='select2-result-repository__forks'><i class='fa fa-flash'></i> " + e.forks_count + " Forks</div><div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + e.stargazers_count + " Stars</div><div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + e.watchers_count + " Watchers</div></div></div></div>";
                //    var t = "<div class='select2-result-repository clearfix'><div class='select2-result-repository__meta'><div class='select2-result-repository__title'>" + e.nome + "</div>";
                //    return t;
                //    //e.email && (t += "<div class='select2-result-repository__description'>" + e.email + "</div>"), t += "<div class='select2-result-repository__statistics'><div class='select2-result-repository__forks'><i class='fa fa-flash'></i> " + e.evento.descricao + " </div><div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + e.evento.titulo + " </div><div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + e.evento.local + " </div></div></div></div>";
                //},
                //templateSelection: function (e) {
                //    //return e.full_name || e.text;
                //    //return e.nome + " - " + e.tipo;
                //    return e.nome;
                //},
                //resolve o problema do input desabilitado qdo usado o select2 com modal
                //dropdownParent: $("#ModalEmissaoCertif")
            })

            //$(document).ready(() => {
            //    let inputs = [];
            //    let name = "arqs_sele_usu_galeria";
            //    let loadImagesFromInputs = () => {
            //        $("#ImageHolder").empty();
            //        if (!FileReader) {
            //            console.log("Não posso carregar imagens nesse navegador");
            //            return;
            //        }
            //        var _id = 0;
            //        inputs.forEach(i => {
            //            Array.from(i.files).forEach(f => {
            //                let fr = new FileReader();
            //                fr.onload = function () {
            //                    var _quadroshtml = '';
            //                    _quadroshtml += '<div class="col-4">';
            //                    _quadroshtml += '<div class="card">';
            //                    //_quadroshtml += '    <div class="card-header">';
            //                    //_quadroshtml += '        <h3 class="h6 text-uppercase mb-0">Basic Form</h3>';
            //                    //_quadroshtml += '    </div>';
            //                    _quadroshtml += '    <div class="card-body">';
            //                    //_quadroshtml += '        <p>Lorem ipsum dolor sit amet consectetur.</p>';
            //                    _quadroshtml += '        <img id="img_' + _id + '" name="img_' + _id + '" src="' + fr.result + '" class="img-fluid" />';
            //                    _quadroshtml += '        <input id="inputimg_' + _id + '" name="inputimg_' + _id + '" value="' + fr.result + '" class="invisivel"/>';
            //                    _quadroshtml += '        <input id="inputarq_' + _id + '" name="inputarq_' + _id + '" value="' + f.name + '" class="invisivel"/>';
            //                    _quadroshtml += '        <div>';
            //                    _quadroshtml += '            <div class="form-group">';
            //                    //_quadroshtml += '                <label class="form-control-label text-uppercase">Descrição</label>';
            //                    _quadroshtml += '                <input type="text" placeholder="Descrição" class="form-control" id="descricao_' + _id + '" name="descricao_' + _id + '">';
            //                    _quadroshtml += '            </div>';
            //                    //_quadroshtml += '            <div class="form-group">';
            //                    //_quadroshtml += '                <button type="submit" class="btn btn-primary">Log in</button>';
            //                    //_quadroshtml += '            </div>';
            //                    _quadroshtml += '        </div>';
            //                    _quadroshtml += '    </div>';
            //                    _quadroshtml += '</div>';
            //                    _quadroshtml += '</div>';
            //                    $("#ImageHolder").append(_quadroshtml);
            //                    //$("#ImageHolder").append($("<img>", {
            //                    //    src: fr.result
            //                    //}));
            //                    _id++;
            //                }
            //                fr.readAsDataURL(f);
            //            });
            //        });
            //    }
            //    $("#inputMask").click(() => {
            //        let newInput = $("<input>", { type: "file", name: name, id: name, multiple: true, accept: "image/x-png,image/gif,image/jpeg" }).css({ width: "0", position: "absolute", opacity: "0" });
            //        newInput.change((e) => { loadImagesFromInputs() });
            //        var el = document.getElementById('arqs_sele_usu_galeria');
            //        if (el != null) el.remove();
            //        inputs.push(newInput[0]);
            //        $("#holder").append(newInput);
            //        newInput.click();
            //    });
            //    //$("#holder").submit((e) => { e.preventDefault(); e.target.submit(); })
            //    $("#botaoenviar").click((e) => { e.preventDefault(); $("#holder").submit(); })
            //});
        </script>
        <script>
            $("#mnusidebar_cms_configperfil").addClass("active");
        </script>
    }
}