@page
@model House2Invest.Pages.AppGaleria.CreateModel
@{
    ViewData["Title"] = "Enviar imagens";
    Layout = "~/Pages/Shared/_LayoutCMS.cshtml";
}
<div class="container-fluid px-xl-5">
    <section class="py-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-uppercase mb-0"><i class="o-clock-1 mr-3 text-gray"></i> Novo álbum</h6>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" name="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-image"></i> Principal</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row py-3">
                                    <div class="col-12">
                                        <form id="formPrincipal" name="formPrincipal" method="post" enctype="multipart/form-data">
                                            <div asp-validation-summary="ModelOnly" class="alert alert-danger" style="padding: 1rem 1.25rem 0px 1.25rem;"></div>
                                            <input type="hidden" asp-for="AppPerfilId" />
                                            <div class="form-group row mb-4">
                                                <div class="col-md-12 ml-auto pull-right">
                                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                                    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label asp-for="GaleriaPerfilAlbum.Nome" class="control-label"></label>
                                                        <input asp-for="GaleriaPerfilAlbum.Nome" class="form-control" autofocus required />
                                                        <span asp-validation-for="GaleriaPerfilAlbum.Nome" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="GaleriaPerfilAlbum.Descricao" class="control-label"></label>
                                                        <textarea asp-for="GaleriaPerfilAlbum.Descricao" class="form-control" rows="4"></textarea>
                                                        <span asp-validation-for="GaleriaPerfilAlbum.Descricao" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 line"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <h6 class="text-uppercase mb-0 text-center"> Imagens do álbum</h6>
                                                </div>
                                            </div>
                                            <div class="row mt-1 mb-4">
                                                <div class="col text-center">
                                                    <button id="inputMask" class="btn btn-large btn-success my-2"><i class="fa fa-image"></i><br /> CARREGAR IMAGENS</button>  <a href="javascript:ReorganizarAlbum();" class="btn btn-large btn-primary my-2"><i class="fa fa-sync"></i><br /> REORGANIZAR</a>
                                                </div>
                                            </div>
                                            <div class="container-fluid" style="overflow:hidden !important;">
                                                <div id="ImageHolder" class="grid">
                                                    <div class="grid-sizer col-sm-12 col-md-12 col-lg-4 col-xl-4"></div>
                                                    <div class="card grid-item col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <img class="img-fluid" src="/images/sem-imagem.png">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card grid-item col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <img class="img-fluid" src="/images/sem-imagem.png">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card grid-item col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <img class="img-fluid" src="/images/sem-imagem.png">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 line"></div>
                                            <div class="form-group row">
                                                <div class="col-md-12 ml-auto text-center">
                                                    <button id="btnsubmitformprincipal" name="btnsubmitformprincipal" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                                    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            var $container = $('.grid');

            $(document).ready(() => {
                let inputs = [];
                let name = "arqs_sele_usu_galeria";
                let loadImagesFromInputs = () => {
                    $("#ImageHolder").empty();
                    $("#ImageHolder").html('<div class="grid-sizer col-sm-12 col-md-12 col-lg-4 col-xl-4 my-2"></div>');

                    if (!FileReader) {
                        console.log("Não posso carregar imagens nesse navegador");
                        return;
                    }

                    var _id = 0;
                    $("#imagem-aguarde-cms").removeClass("invisivel");
                    inputs.forEach(i => {
                        Array.from(i.files).forEach(f => {
                            let fr = new FileReader();
                            fr.onload = function () {
                                var _quadroshtml = '';
                                _quadroshtml += '<div id="div_princ_imagem_album_' + _id + '" class="card grid-item col-sm-12 col-md-12 col-lg-4 col-xl-4">';
                                _quadroshtml += '   <div class="col-12 mt-3">';
                                _quadroshtml += '       <a href="javascript:RemoverImagemAlbum(' + _id + ');" class="btn btn-danger btn-pequeno"><i class="fa fa-trash" title="Remover imagem do álbum"></i></a>';
                                _quadroshtml += '   </div>';
                                _quadroshtml += '   <img class="img-fluid" id="img_' + _id + '" name="img_' + _id + '" src="' + fr.result + '" style="display:block;margin:auto auto;padding:25px;" >';
                                _quadroshtml += '   <div class="card-body">';
                                _quadroshtml += '       <input id="inputarq_' + _id + '" name="inputarq_' + _id + '" value="' + f.name + '" class="invisivel"/>';
                                _quadroshtml += '       <input type="text" placeholder="Descrição" class="form-control" id="descricao_' + _id + '" name="descricao_' + _id + '" ' + (_id == 0 ? " autofocus " : "") + ' />';
                                _quadroshtml += '   </div>';
                                _quadroshtml += '</div>';

                                $("#ImageHolder").append(_quadroshtml);

                                $('#ImageHolder').imagesLoaded()
                                    .always(function (instance) {
                                        //console.log('todas imagens carregadas');
                                    })
                                    .done(function (instance) {
                                        //console.log('todas imagens carregadas com sucesso');
                                        $container.masonry('reloadItems');
                                        $container.masonry('layout');
                                        $("#imagem-aguarde-cms").addClass("invisivel");
                                    })
                                    .fail(function () {
                                        //console.log('todas imagens carregadas, mas tive problema(s) com alguma(s)');
                                    })
                                    .progress(function (instance, image) {
                                        //var result = image.isLoaded ? 'carregada' : 'problema';
                                        //console.log('imagem com status ' + result + ' para ' + image.img.src);
                                    });

                                _id++;
                            }

                            fr.readAsDataURL(f);
                        });
                    });
                }

                $("#inputMask").click((e) => {
                    e.preventDefault();
                    //inputs = [];
                    let newInput = $("<input>", { type: "file", name: name, id: name, multiple: true, accept: "image/x-png,image/gif,image/jpeg" }).css({ width: "0", position: "absolute", opacity: "0" });
                    newInput.change((e) => { loadImagesFromInputs() });
                    //var el = document.getElementById('arqs_sele_usu_galeria');
                    //if (el != null) el.remove();
                    inputs.push(newInput[0]);
                    $("#formPrincipal").append(newInput);
                    newInput.click();

                    console.log(inputs);
                });

                //$("#botaoenviar").click((e) => { e.preventDefault(); $("#holder").submit(); })

                CarregarMasonry();

                //$("#holder").on("submit", function () { $("#imagem-aguarde-cms").removeClass("invisivel"); })
            });

            function CarregarMasonry() {
                $container.masonry({
                    itemSelector: '.grid-item',
                    columnWidth: '.grid-sizer'
                });
            }
        </script>
        <script>
            $("#mnusidebar_cms_dados").removeClass("collapsed");
            $("#mnusidebar_cms_dados").attr("aria-expanded", "true");
            $("#target_dados").addClass("show");
            $("#mnusidebar_cms_dadosgaleria").addClass("active");
        </script>
    }
}