@page
@model House2Invest.Pages.AppPerfil.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_LayoutCMS.cshtml";
}

<h2>Create</h2>

<h4>AppPerfil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppPerfil.DTHR" class="control-label"></label>
                <input asp-for="AppPerfil.DTHR" class="form-control" />
                <span asp-validation-for="AppPerfil.DTHR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppPerfil.AppConfiguracoesId" class="control-label"></label>
                <select asp-for="AppPerfil.AppConfiguracoesId" class ="form-control" asp-items="ViewBag.AppConfiguracoesId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
