@page
@model House2Invest.Pages.BlocosProjInvestValor.CreateModel
@{
    ViewData["Title"] = "Criar";
    Layout = "~/Pages/Shared/_LayoutCMS.cshtml";
}
<div class="container-fluid px-xl-5">
    <section class="py-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="text-uppercase mb-0"><i class="o-clock-1 mr-3 text-gray"></i> Editando um registro</h6>
                    </div>
                    <div class="card-body">
                        <div class="pb-5">
                            <form id="formPrincipal" name="formPrincipal" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="modelo.INVEST_LancamentoId" />
                                <div class="form-group row mb-4">
                                    <div class="col-md-12 ml-auto pull-right">
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                    </div>
                                </div>

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <ul class="nav nav-tabs" id="myTab" name="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="fa fa-archive"></i> Principal</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row py-3">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <img id="imgprevia_logotipo" src="@Html.Raw(Model.modelo.URLComprovTransf)" class="img-fluid mx-auto imgprevia" />
                                                </div>
                                                <div class="form-group js">
                                                    <input asp-for="modelo.ArquivoComprovTransf" type="file" class="inputfile inputfile-3" data-multiple-caption="{count} selecionado" onchange="carregaPrevia(event, 'imgprevia_logotipo')" />
                                                    <label asp-for="modelo.ArquivoComprovTransf" class="mx-auto" title="Alterar a imagem"><div class="icon icon-lg shadow mr-3 mx-auto"><i class="fa fa-upload"></i></div></label>
                                                </div>
                                            </div>
                                            @*<div class="col-lg-6 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <img id="imgprevia_logotipo_001" src="@Html.Raw(Model.modelo.URLPerfilInvest)" class="img-fluid mx-auto imgprevia" />
                                                </div>
                                                <div class="form-group js">
                                                    <input asp-for="modelo.ArquivoPerfilInvestidor" type="file" class="inputfile inputfile-3" data-multiple-caption="{count} selecionado" onchange="carregaPrevia(event, 'imgprevia_logotipo_001')" />
                                                    <label asp-for="modelo.ArquivoPerfilInvestidor" class="mx-auto" title="Alterar a imagem"><div class="icon icon-lg shadow mr-3 mx-auto"><i class="fa fa-upload"></i></div></label>
                                                </div>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 line"></div>
                                <div class="form-group row">
                                    <div class="col-md-12 ml-auto text-center">
                                        <button id="btnsubmitformprincipal" name="btnsubmitformprincipal" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
                                        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        var carregaPrevia = function (evento, elemento) {
            var saida = document.getElementById(elemento);
            saida.src = URL.createObjectURL(evento.target.files[0]);
        };
    </script>
    <script>
        $("#mnusidebar_cms_blocosprojinvestimentos").removeClass("collapsed");
        $("#mnusidebar_cms_blocosprojinvestimentos").attr("aria-expanded", "true");
        $("#mnusidebar_cms_blocosprojinvestimentos").addClass("active");

        $(document).ready(function () {
            //$('.campo_data').mask('00/00/0000');
            //$("#BlocoProjInvestimento_Contador_DataFinal").inputmask({ alias: "dd/mm/yyyy" });
        });
    </script>
}