@page
@using Microsoft.EntityFrameworkCore
@model House2Invest.Pages.Documentacao.DocumentoModel
@inject House2Invest.Data.ApplicationDbContext _contexto
@{
    ViewData["Title"] = "Documentos";
    var _appconfig = new House2Invest.Models.AppPerfil();
    try
    {
        _appconfig =
            _contexto.AppPerfil
            .Include(v => v.AppConfiguracoes)
            .Include(x => x.AppConfiguracoes.AppConfiguracoes_Aplicativo)
            .Include(y => y.AppConfiguracoes.AppConfiguracoes_Azure)
            .FirstOrDefault();
    }
    catch (Exception) { }

    var _stringConteudo = "";
}
@try
{
    @if (_appconfig == null || _appconfig.AppConfiguracoes.Tema.ToLower().Trim() == "_layoutfundpress")
    {
        if (Model.modelo.TIPO.ToLower().Trim() == "anexo4a")
        {
            _stringConteudo += "<b>DECLARAÇÃO DA CONDIÇÃO DE INVESTIDOR QUALIFICADO</b><br>";
            _stringConteudo += "Ao assinar este termo, afirmo minha condição de investidor qualificado e declaro possuir conhecimento sobre o mercado financeiro suficiente para que não me sejam aplicáveis um conjunto de proteções legais e regulamentares conferidas aos investidores que não sejam qualificados.<br>";
            _stringConteudo += "Como investidor qualificado, atesto ser capaz de entender e ponderar os riscos financeiros relacionados à aplicação de meus recursos em oferta pública de distribuição de valores mobiliários de emissão de sociedades empresárias de pequeno porte, realizada com dispensa de registro na Comissão de Valores Mobiliários - CVM, por meio de plataforma eletrônica de investimento participativo.<br>";
            _stringConteudo += "Declaro, sob as penas da lei, que possuo investimentos financeiros em valor superior a R$ 1.000.000,00 (um milhão de reais).<br><br><br>";
        }

        else if (Model.modelo.TIPO.ToLower().Trim() == "anexo4b")
        {
            _stringConteudo += "<b>DECLARAÇÃO</b><br>";
            _stringConteudo += "Declaro, sob as penas da lei, que:<br>";
            _stringConteudo += "1. possuo renda bruta anual ou investimentos financeiros em valor superior a R$ 100.000,00 (cem mil reais).<br>";
            _stringConteudo += "2. o valor de meu investimento na oferta de <b>HOUSE2INVEST</b>, quando somado ao valor de R$ " + Html.Raw(Model.modelo.MONTANTE) + " que já investi no ano-calendário em ofertas dispensadas de registro na Comissão de Valores Mobiliários – CVM por meio de plataformas eletrônicas investimento participativo (crowdfunding de investimento), não ultrapassa 10% (dez por cento) do maior entre: (a) minha renda bruta anual; ou (b) o montante total de meus investimentos financeiros.<br>";
            _stringConteudo += "3. entendo que o limite de 10% (dez por cento) tem por objetivo proteger os investidores em razão do nível de risco e da falta de liquidez associados aos investimentos por meio de crowdfunding.<br>";
            _stringConteudo += "4. entendo ser minha responsabilidade observar que o valor total de meus investimentos realizados no ano-calendário em todas as plataformas de crowdfunding de investimento combinadas não ultrapassa o limite.<br><br><br>";
        }

        else if (Model.modelo.TIPO.ToLower().Trim() == "anexo4c")
        {
            _stringConteudo += "<b>DECLARAÇÃO</b><br>";
            _stringConteudo += "Declaro, sob as penas da lei, que:<br>";
            _stringConteudo += "1. o valor de meu investimento na oferta de <b>HOUSE2INVEST</b>, quando somado ao valor de R$ " + Html.Raw(Model.modelo.MONTANTE) + " que já investi no ano-calendário em ofertas dispensadas de registro na Comissão de Valores Mobiliários – CVM por meio de plataformas eletrônicas investimento participativo (crowdfunding de investimento), não ultrapassa R$ 10.000,00 (dez mil reais).<br>";
            _stringConteudo += "2. entendo que o limite de R$ 10.000,00 (dez mil reais) tem por objetivo proteger os investidores em razão do nível de risco e da falta de liquidez associados aos investimentos por meio de crowdfunding.<br>";
            _stringConteudo += "3. entendo ser minha responsabilidade observar que o valor total de meus investimentos realizados no ano-calendário em todas as plataformas de crowdfunding de investimento combinadas não ultrapassa o limite.<br><br><br>";
        }
    }
}
catch (Exception) { }
<style>
    .container-texto {
        margin-top: 200px;
        line-height: 40px;
        font-size: 20px;
    }

        .container-texto .texto {
            text-align: justify;
        }

        .container-texto .datalocal {
            text-align: center;
            padding-bottom: 150px;
        }
</style>
<div class="container container-texto">
    <div class="row">
        <div class="col-12">
            <h2 class="cor-house2invest">
                @Html.Raw(Model.modelo.TIPO.ToLower().Trim() == "anexo4a" ? "ANEXO 4-A" : Model.modelo.TIPO.ToLower().Trim() == "anexo4b" ? "ANEXO 4-B" : Model.modelo.TIPO.ToLower().Trim() == "anexo4c" ? "ANEXO 4-C" : "")
            </h2>
            <p class="texto">
                @Html.Raw(_stringConteudo)
            </p>
            <p class="datalocal">
                <b>
                    SÃO PAULO, @Html.Raw(DateTime.Now.ToLongDateString().ToUpper())
                </b><br>
                <b>
                    @Html.Raw($"{Model.modelo.NOME} - {Model.modelo.CPF}")
                </b><br>
            </p>
        </div>
    </div>
</div>