@font-face {
  font-family: 'bricksave-icons';
  src:  url('https://s3.amazonaws.com/icomoon.io/92395/Bricksave/bricksave-icons.eot?b6vugw');
  src:  url('https://s3.amazonaws.com/icomoon.io/92395/Bricksave/bricksave-icons.eot?b6vugw#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/icomoon.io/92395/Bricksave/bricksave-icons.woff2?b6vugw') format('woff2'),
    url('https://s3.amazonaws.com/icomoon.io/92395/Bricksave/bricksave-icons.ttf?b6vugw') format('truetype'),
    url('https://s3.amazonaws.com/icomoon.io/92395/Bricksave/bricksave-icons.woff?b6vugw') format('woff'),
    url('https://s3.amazonaws.com/icomoon.io/92395/Bricksave/bricksave-icons.svg?b6vugw#bricksave-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bricksave-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e917";
}
.icon-info:before {
  content: "\e916";
}
.icon-menu:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e901";
}
.icon-circle-thin:before {
  content: "\e912";
}
.icon-circle:before {
  content: "\e913";
}
.icon-chevron-right:before {
  content: "\e90d";
}
.icon-chevron-left:before {
  content: "\e90e";
}
.icon-chevron-down:before {
  content: "\e90f";
}
.icon-chevron-up:before {
  content: "\e910";
}
.icon-lock:before {
  content: "\e911";
}
.icon-tick:before {
  content: "\e90c";
}
.icon-money:before {
  content: "\e90b";
}
.icon-why6:before {
  content: "\e905";
}
.icon-why5:before {
  content: "\e906";
}
.icon-why4:before {
  content: "\e907";
}
.icon-why1:before {
  content: "\e908";
}
.icon-why2:before {
  content: "\e909";
}
.icon-why3:before {
  content: "\e90a";
}
.icon-how3:before {
  content: "\e902";
}
.icon-how2:before {
  content: "\e903";
}
.icon-how1:before {
  content: "\e904";
}
.icon-quote-close:before {
  content: "\e915";
}
.icon-quote:before {
  content: "\e900";
}
