a:hover {
    text-decoration: none;
}

.display-firma {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.2;
    padding: 25px 0px 0px 0px;
}

.card-img-eventos {
    margin-top: 25px;
    max-height: 69px;
    padding: 5px;
}

.card {
    /*max-height: 426px !important;*/
}

.invisivel {
    display: none;
}

.bluraliza {
    -webkit-filter: blur(2px) grayscale(1);
    -moz-filter: blur(2px) grayscale(1);
    -o-filter: blur(2px) grayscale(1);
    -ms-filter: blur(2px) grayscale(1);
    filter: blur(2px) grayscale(1);
}

.impedirscroll {
    overflow: hidden;
}

div.modal-content.shadow-lg {
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.5) !important;
}

.bootstrap-select > .dropdown-toggle {
    position: relative;
    outline: none !important;
    padding: 0.85rem 1.15rem;
    padding-right: 2rem;
    border-radius: 0.25rem !important;
}

    .bootstrap-select > .dropdown-toggle:focus {
        outline: none !important;
    }

    .bootstrap-select > .dropdown-toggle:after {
        font-family: "LineAwesome";
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        content: "";
        border: 0;
        top: 50%;
        position: absolute;
        margin-top: 0;
        font-size: 0.85rem;
        right: 2rem;
        display: inline-block;
    }

.bootstrap-select .dropdown-menu.inner {
    display: block;
}

    .bootstrap-select .dropdown-menu.inner > li > a {
        display: block;
        position: relative;
        outline: none !important;
        padding: 10px 15px;
    }

        .bootstrap-select .dropdown-menu.inner > li > a:hover {
            text-decoration: none;
        }

        .bootstrap-select .dropdown-menu.inner > li > a [class^="la-"],
        .bootstrap-select .dropdown-menu.inner > li > a [class*=" la-"] {
            font-size: 1.2rem;
        }

        .bootstrap-select .dropdown-menu.inner > li > a [class^="fa-"],
        .bootstrap-select .dropdown-menu.inner > li > a [class*=" fa-"] {
            font-size: 1.2rem;
        }

        .bootstrap-select .dropdown-menu.inner > li > a [class^="flaticon-"],
        .bootstrap-select .dropdown-menu.inner > li > a [class*=" flaticon-"] {
            font-size: 1.1rem;
        }

        .bootstrap-select .dropdown-menu.inner > li > a [class^="la-"],
        .bootstrap-select .dropdown-menu.inner > li > a [class*=" la-"],
        .bootstrap-select .dropdown-menu.inner > li > a [class^="fa-"],
        .bootstrap-select .dropdown-menu.inner > li > a [class*=" fa-"],
        .bootstrap-select .dropdown-menu.inner > li > a [class^="flaticon-"],
        .bootstrap-select .dropdown-menu.inner > li > a [class*=" flaticon-"] {
            vertical-align: middle;
        }

    .bootstrap-select .dropdown-menu.inner > li.selected > a span.check-mark {
        font-family: "LineAwesome";
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        top: 50%;
        position: absolute;
        margin-top: -0.425rem;
        font-size: 0.85rem;
        right: 1.15rem;
        display: inline-block;
    }

        .bootstrap-select .dropdown-menu.inner > li.selected > a span.check-mark:before {
            content: "";
        }

        .bootstrap-select .dropdown-menu.inner > li.selected > a span.check-mark:after {
            display: none;
        }

    .bootstrap-select .dropdown-menu.inner > li.divider {
        margin: 10px 0;
    }

    .bootstrap-select .dropdown-menu.inner > li.hidden {
        display: none;
    }

    .bootstrap-select .dropdown-menu.inner > li.no-results {
        padding: 10px 15px;
    }

.bootstrap-select .popover-title {
    padding: 10px 15px;
    margin-bottom: 5px;
}

    .bootstrap-select .popover-title .close {
        display: none;
    }

.bootstrap-select .bs-searchbox,
.bootstrap-select .bs-actionsbox,
.bootstrap-select .bs-donebutton {
    padding: 10px 15px;
}

select.m-bootstrap-select {
    opacity: 0;
    filter: alpha(opacity=0);
}

.m-bootstrap-select.bootstrap-select.m-bootstrap-select--pill > .dropdown-toggle {
    border-radius: 1.3rem !important;
}

.m-bootstrap-select.bootstrap-select.m-bootstrap-select--square > .dropdown-toggle {
    border-radius: 0 !important;
}

.input-group > .bootstrap-select.form-control {
    width: auto;
}

.input-group > .bootstrap-select.dropdown:first-child > .dropdown-toggle {
    -moz-border-top-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    -moz-border-bottom-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group > .bootstrap-select.dropdown:not(:first-child):last-child > .btn.dropdown-toggle {
    -moz-border-top-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    -moz-border-bottom-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.input-group > .bootstrap-select.dropdown:first-child + .input-group-text,
.input-group > .bootstrap-select.dropdown:not(:first-child) + .input-group-text {
    border-left: 0;
}

.input-group > .bootstrap-select.dropdown:not(:first-child):not(:last-child) > .btn.dropdown-toggle {
    -moz-border-top-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    -moz-border-bottom-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    -moz-border-top-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    -moz-border-bottom-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group.m-input-group--pill > .bootstrap-select.dropdown:not(:first-child):last-child .btn.dropdown-toggle {
    -moz-border-top-right-radius: 1.3rem !important;
    border-top-right-radius: 1.3rem !important;
    -moz-border-bottom-right-radius: 1.3rem !important;
    border-bottom-right-radius: 1.3rem !important;
}

.input-group .input-group-btn:not(:first-child) > .btn:first-child,
.input-group .input-group-btn:not(:first-child) > .dropdown:first-child {
    margin-left: 0;
}

.bootstrap-select > .dropdown-toggle.btn-light, .bootstrap-select > .dropdown-toggle.btn-secondary {
    background-color: transparent;
    color: #575962;
    border-color: #ebedf2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .bootstrap-select > .dropdown-toggle.btn-light:focus, .bootstrap-select > .dropdown-toggle.btn-light.active, .bootstrap-select > .dropdown-toggle.btn-secondary:focus, .bootstrap-select > .dropdown-toggle.btn-secondary.active {
        background-color: transparent;
        border-color: #716aca;
    }

    .bootstrap-select > .dropdown-toggle.btn-light.disabled, .bootstrap-select > .dropdown-toggle.btn-light:disabled, .bootstrap-select > .dropdown-toggle.btn-secondary.disabled, .bootstrap-select > .dropdown-toggle.btn-secondary:disabled {
        background: #f4f5f8;
        border-color: #f4f5f8;
    }

.bootstrap-select > .dropdown-toggle.bs-placeholder {
    color: #9699a2;
}

    .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-brand {
        color: #ffffff;
    }

        .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-brand > .filter-option {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

    .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-metal {
        color: #ffffff;
    }

        .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-metal > .filter-option {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

    .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-light {
        color: #282a3c;
    }

        .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-light > .filter-option {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

    .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-accent {
        color: #ffffff;
    }

        .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-accent > .filter-option {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

    .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-focus {
        color: #ffffff;
    }

        .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-focus > .filter-option {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

    .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary {
        color: #ffffff;
    }

        .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary > .filter-option {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

    .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success {
        color: #ffffff;
    }

        .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success > .filter-option {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

    .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info {
        color: #ffffff;
    }

        .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info > .filter-option {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

    .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-warning {
        color: #111111;
    }

        .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-warning > .filter-option {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

    .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger {
        color: #ffffff;
    }

        .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger > .filter-option {
            opacity: 0.8;
            filter: alpha(opacity=80);
        }

.bootstrap-select.show > .dropdown-toggle.btn-light, .bootstrap-select.show > .dropdown-toggle.btn-secondary {
    border-color: #716aca !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}

.bootstrap-select .dropdown-menu.inner > li > a .text {
    color: #3f4047;
}

    .bootstrap-select .dropdown-menu.inner > li > a .text small {
        color: #6f727d;
    }

.bootstrap-select .dropdown-menu.inner > li > a span.check-mark {
    color: #575962;
}

.bootstrap-select .dropdown-menu.inner > li > a [class^="la-"],
.bootstrap-select .dropdown-menu.inner > li > a [class*=" la-"],
.bootstrap-select .dropdown-menu.inner > li > a [class^="fa-"],
.bootstrap-select .dropdown-menu.inner > li > a [class*=" fa-"],
.bootstrap-select .dropdown-menu.inner > li > a [class^="flaticon-"],
.bootstrap-select .dropdown-menu.inner > li > a [class*=" flaticon-"] {
    color: #575962;
}

.bootstrap-select .dropdown-menu.inner > li.selected > a, .bootstrap-select .dropdown-menu.inner > li:hover > a {
    background: #f4f5f8;
}

    .bootstrap-select .dropdown-menu.inner > li.selected > a .text, .bootstrap-select .dropdown-menu.inner > li:hover > a .text {
        color: #3f4047;
    }

    .bootstrap-select .dropdown-menu.inner > li.selected > a span.check-mark, .bootstrap-select .dropdown-menu.inner > li:hover > a span.check-mark {
        color: #3f4047;
    }

.bootstrap-select .dropdown-menu.inner > li.selected > a {
    background: #f7f8fa;
}

.bootstrap-select .dropdown-menu.inner > li.disabled > a {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.bootstrap-select .dropdown-menu.inner > li.divider {
    border-bottom: 1px solid #f4f5f8;
}

.bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a {
    background: #5867dd;
}

    .bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a .text {
        color: #ffffff;
    }

    .bootstrap-select .dropdown-menu.inner > li.active:not(.selected) > a span.check-mark {
        color: #ffffff;
    }

.bootstrap-select .dropdown-menu.inner > li.no-results {
    color: #575962;
}

.bootstrap-select .popover-title {
    background: #f7f8fa;
    border: 0;
}

.bootstrap-select .dropdown-menu {
    margin-top: 1px;
}

.m-bootstrap-select.bootstrap-select.m-bootstrap-select--air > .dropdown-toggle {
    -webkit-box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.11);
    box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.11);
}

.m-bootstrap-select.bootstrap-select.m-bootstrap-select--solid > .dropdown-toggle {
    background-color: #f4f5f8;
    border-color: #f4f5f8;
}

.m-form.m-form--state .has-success .bootstrap-select > .btn.btn-secondary,
.m-form.m-form--state .has-success .bootstrap-select > .btn.btn-light {
    border-color: #34bfa3;
}

    .m-form.m-form--state .has-success .bootstrap-select > .btn.btn-secondary:focus,
    .m-form.m-form--state .has-success .bootstrap-select > .btn.btn-light:focus {
        border-color: #34bfa3;
    }

.m-form.m-form--state .has-warning .bootstrap-select > .btn.btn-secondary,
.m-form.m-form--state .has-warning .bootstrap-select > .btn.btn-light {
    border-color: #ffb822;
}

    .m-form.m-form--state .has-warning .bootstrap-select > .btn.btn-secondary:focus,
    .m-form.m-form--state .has-warning .bootstrap-select > .btn.btn-light:focus {
        border-color: #ffb822;
    }

.m-form.m-form--state .has-danger .bootstrap-select > .btn.btn-secondary,
.m-form.m-form--state .has-danger .bootstrap-select > .btn.btn-light {
    border-color: #f4516c;
}

    .m-form.m-form--state .has-danger .bootstrap-select > .btn.btn-secondary:focus,
    .m-form.m-form--state .has-danger .bootstrap-select > .btn.btn-light:focus {
        border-color: #f4516c;
    }

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    outline: none !important;
    border-radius: 0.25rem;
    height: auto;
    line-height: 0;
}

    .select2-container--default .select2-selection--single .select2-selection__arrow,
    .select2-container--default .select2-selection--multiple .select2-selection__arrow {
        font-family: "LineAwesome";
        text-decoration: inherit;
        text-rendering: optimizeLegibility;
        text-transform: none;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-smoothing: antialiased;
        border: 0;
        top: 50%;
        position: absolute;
        margin-top: 0;
        margin-left: 0;
        font-size: 0.85rem;
        left: auto;
        right: 0;
        display: inline-block;
        width: 1.9rem;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow:before,
        .select2-container--default .select2-selection--multiple .select2-selection__arrow:before {
            content: "";
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow b,
        .select2-container--default .select2-selection--multiple .select2-selection__arrow b {
            display: none;
        }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        position: relative;
        padding: 0.85rem 1.15rem;
        line-height: 1.25;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
            border: 0;
            position: absolute;
            top: 50%;
            font-family: "LineAwesome";
            text-decoration: inherit;
            text-rendering: optimizeLegibility;
            text-transform: none;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-smoothing: antialiased;
            content: "";
            font-size: 1.4rem;
            display: inline-block;
            left: auto;
            right: 2rem;
            margin-right: 0.4rem;
            margin-top: -0.8rem;
        }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        padding: 0.57rem 1.15rem;
        line-height: 1.25;
    }

        .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
            padding: 0.05rem 0.4rem 0.05rem 0.4rem;
            font-size: 1rem;
            margin: 0.1rem 0.4rem 0.1rem 0;
            position: relative;
            float: left /*rtl:right*/;
        }

            .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
                font-family: "LineAwesome";
                text-decoration: inherit;
                text-rendering: optimizeLegibility;
                text-transform: none;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                font-smoothing: antialiased;
                content: "";
                font-size: 1.4rem;
                display: inline-block;
                line-height: 0;
                margin-right: 0.3rem;
                position: relative;
                top: 0.1rem;
            }

        .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field {
            font-weight: 300;
            margin: 0.25rem 0.25rem 0.25rem 0;
        }

.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: none !important;
    border-radius: 0.25rem;
}

.select2-container--default .select2-search--dropdown {
    padding: 15px 15px;
}

.select2-container--default .select2-results__option {
    padding: 5px 15px;
}

    .select2-container--default .select2-results__option[aria-disabled=true] {
        cursor: not-allowed;
    }

    .select2-container--default .select2-results__option .select2-results__group {
        padding: 5px 15px;
        font-weight: 500;
    }

    .select2-container--default .select2-results__option .select2-results__option {
        padding: 5px 30px;
    }

.select2-container .select2-search--inline .select2-search__field {
    margin: 0;
}

select.m-select2 {
    opacity: 0;
    filter: alpha(opacity=0);
}

.m-select2 > select.form-control {
    opacity: 0;
    filter: alpha(opacity=0);
}

.m-select2.m-select2--pill .select2-container--default .select2-selection--single,
.m-select2.m-select2--pill .select2-container--default .select2-selection--multiple {
    border-radius: 1.3rem;
}

.m-select2.m-select2--square .select2-container--default .select2-selection--single,
.m-select2.m-select2--square .select2-container--default .select2-selection--multiple {
    border-radius: 0;
}

.input-group > .select2-hidden-accessible:first-child + .select2-container > .selection .select2-selection--single {
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group > .select2-hidden-accessible:first-child + .select2-container > .selection, .input-group > .select2-hidden-accessible:first-child + .select2-container > .selection.form-control {
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:last-child > .selection .select2-selection--single {
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:last-child > .selection .select2-selection, .input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:last-child > .selection .select2-selection.form-control {
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .select2-hidden-accessible:first-child + .select2-container + .input-group-text,
.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container + .input-group-text {
    border-left: 0;
}

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:not(:last-child) > .selection .select2-selection--single {
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:not(:last-child) > .selection .select2-selection, .input-group > .select2-hidden-accessible:not(:first-child) + .select2-container:not(:last-child) > .selection .select2-selection.form-control {
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group.m-input-group--pill > .select2-hidden-accessible:not(:first-child) + .select2-container:last-child > .selection .select2-selection--single {
    -moz-border-top-right-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
    -moz-border-bottom-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
    border: 1px solid #ebedf2;
}

    .select2-container--default .select2-selection--multiple .select2-selection__placeholder,
    .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: #9699a2;
    }

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--single, .select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--single {
    border-color: #716aca;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #575962;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear {
        color: #575962;
    }

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    color: #575962;
}

    .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
        color: #575962;
        background: #ebedf2;
        border: 1px solid #ebedf2;
    }

        .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
            color: #575962;
        }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field::-moz-placeholder {
        color: #9699a2;
        opacity: 1;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field:-ms-input-placeholder {
        color: #9699a2;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field::-webkit-input-placeholder {
        color: #9699a2;
    }

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ebedf2;
}

.select2-container--default .select2-dropdown {
    border: 1px solid #ebedf2;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
    box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background: #e2e5ec;
    color: #3f4047;
}

.select2-container--default .select2-results__option.select2-results__option--highlighted {
    background: #f4f5f8;
    color: #3f4047;
}

.select2-container--default.select2-container--disabled {
    cursor: not-allowed;
}

    .select2-container--default.select2-container--disabled .select2-selection--multiple,
    .select2-container--default.select2-container--disabled .select2-selection--single {
        cursor: not-allowed;
        background: #f4f5f8;
        border-color: #f4f5f8;
    }

.m-select2.m-select2--air .select2-container--default .select2-selection--single,
.m-select2.m-select2--air .select2-container--default .select2-selection--multiple {
    -webkit-box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.11);
    box-shadow: 0px 3px 20px 0px rgba(113, 106, 202, 0.11);
}

.m-select2.m-select2--solid .select2-container--default .select2-selection--multiple,
.m-select2.m-select2--solid .select2-container--default .select2-selection--single {
    background-color: #f4f5f8;
    border-color: #f4f5f8;
}

    .m-select2.m-select2--solid .select2-container--default .select2-selection--multiple .select2-selection__placeholder,
    .m-select2.m-select2--solid .select2-container--default .select2-selection--single .select2-selection__placeholder {
        color: #9699a2;
    }

.m-form.m-form--state .has-success .select2-container--default .select2-selection--multiple,
.m-form.m-form--state .has-success .select2-container--default .select2-selection--single {
    border-color: #34bfa3;
}

.m-form.m-form--state .has-success .select2-container--default.select2-container--focus .select2-selection--multiple,
.m-form.m-form--state .has-success .select2-container--default.select2-container--focus .select2-selection--single, .m-form.m-form--state .has-success .select2-container--default.select2-container--open .select2-selection--multiple,
.m-form.m-form--state .has-success .select2-container--default.select2-container--open .select2-selection--single {
    border-color: #34bfa3;
}

.m-form.m-form--state .has-warning .select2-container--default .select2-selection--multiple,
.m-form.m-form--state .has-warning .select2-container--default .select2-selection--single {
    border-color: #ffb822;
}

.m-form.m-form--state .has-warning .select2-container--default.select2-container--focus .select2-selection--multiple,
.m-form.m-form--state .has-warning .select2-container--default.select2-container--focus .select2-selection--single, .m-form.m-form--state .has-warning .select2-container--default.select2-container--open .select2-selection--multiple,
.m-form.m-form--state .has-warning .select2-container--default.select2-container--open .select2-selection--single {
    border-color: #ffb822;
}

.m-form.m-form--state .has-danger .select2-container--default .select2-selection--multiple,
.m-form.m-form--state .has-danger .select2-container--default .select2-selection--single {
    border-color: #f4516c;
}

.m-form.m-form--state .has-danger .select2-container--default.select2-container--focus .select2-selection--multiple,
.m-form.m-form--state .has-danger .select2-container--default.select2-container--focus .select2-selection--single, .m-form.m-form--state .has-danger .select2-container--default.select2-container--open .select2-selection--multiple,
.m-form.m-form--state .has-danger .select2-container--default.select2-container--open .select2-selection--single {
    border-color: #f4516c;
}


.modal-backdrop.show {
    opacity: .9;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #fff;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}
