@page
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.EntityFrameworkCore
@model PrivacidadeModel
@inject House2Invest.Data.ApplicationDbContext _contexto
@{
    ViewData["Title"] = "Política de privacidade";
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
    cookieString = cookieString.Replace(".Consent=yes", ".Consent=no");
    var _appconfig = new House2Invest.Models.AppConfiguracoes();
    try
    {
        _appconfig = _contexto.AppConfiguracoes.Include(x => x.AppConfiguracoes_Aplicativo).Include(y => y.AppConfiguracoes_Azure).FirstOrDefault();
    }
    catch (Exception) { }
}
<div id="containercookies" class="container text-center" style="margin:100px auto;">
    <div class="row">
        <div class="col-12">
            <h2>@ViewData["Title"]</h2>
            <p>Use esta página para a Política de privacidade do aplicativo.</p>
            <div class="d-flex justify-content-center">
                <img src="@_appconfig.AppConfiguracoes_Aplicativo.LogotipoEmpresa" class="img-fluid" />
            </div>
            @if (!showBanner)
            {
                <button type="button" class="btn btn-default navbar-btn" data-cookie-string="@cookieString">Limpar</button>
            }
        </div>
    </div>
</div>
<script>
    (function () {
        document.querySelector("#containercookies button[data-cookie-string]").addEventListener("click", function (el) {
            document.cookie = el.target.dataset.cookieString;
            location.reload();
        }, false);
    })();
</script>